<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="http://nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="NuGet official package source" value="http://nuget.org/api/v2/" />
  </activePackageSource>
</configuration>

